    <footer class="footer navbar-fixed-bottom">
        <div class="container">
            <p class="text-muted">&reg; Manage Support 2016</p>
        </div>
    </footer>
    <!-- JavaScript Section -->
    <script src="Scripts/lib/jquery/dist/jquery.min.js"></script>
    <script src="Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>