<% include partials/header.ejs %>
<% include partials/navbar.ejs %>
     <main class="main">
         <% if (messages.length > 0) { %>
             <div class="alert alert-danger"><%= messages %></div>
         <% } %>
         <div class="container">
             <div class="row">
                <div class="col-sm-4 col-sm-offset-4 text-vertical-center">
                    <!-- <h1>Log In</h1> -->
                    <img src="../Assets/logo1.png" alt="Manage Support Logo"/>
                    <h5>Please Login to submit a ticket.</h5>
                    <form method="post">
                        <div class="form-group input-group input-group-md">
                            <span class="input-group-addon" id="sizing-addon2"><i class="fa fa-user"></i></span>
                            <input type="text" class="form-control" name="username" required autofocus placeholder="Username"/>
                        </div>
                        <div class="form-group input-group input-group-md">
                            <span class="input-group-addon" id="sizing-addon2"><i class="fa fa-key"></i></span>
                            <input type="password" class="form-control" name="password" required placeholder="Password"/>
                        </div>
                            <input type="submit" class="btn btn-success" value="Log In"/>
                            <a href="/register">
                                <input type="button" class="btn btn-warning" value="Register"/>
                            </a>
                    </form>
                </div>
             </div>
         </div>
    </main>
<% include partials/footer.ejs %>