/* custom style sheet */
body{
    /*background-image: url("../Assets/sprinkles.png");
    background-repeat: repeat;*/
    background-color: #252839;
    font-family: 'Open Sans', sans-serif;
    
}
/*Navbar Changes*/
.navbar-nav>li>a{
    color: white;
}
.navbar-nav>li>a:hover{
    background-color: #f2b632;
}
.navbar-nav>li>a:active{
    background-color: #f2b632;
}
.navbar-transparent .navbar-text {
    padding-top: 3px;
    color: beige;
}
.navbar-transparent .navbar-toggle:focus, .navbar-transparent .navbar-toggle:hover{
    background-color: #BF9327;
}
.navbar-transparent .navbar-toggle{
    border-color: whitesmoke;
}
.navbar-transparent .navbar-nav>.active>a,
.navbar-transparent .navbar-nav>.active>a:focus,
.navbar-transparent .navbar-nav>.active>a:hover{
    background-color: #7F621A;
    background-image: none;
}

hr{
    max-width: 50px;
    border-color: #f2b632;
    border-width: 3px;
}
thead{
    background-color: #60B99A;
}

.panel {
    background-color: #677077;
    padding-bottom: 30px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}
.white-bg{
    background-color: white;
    padding: 2em;
}

.btn{
    color: white;
}

.btn-submit {
    background-color: #60B99A;
}
.btn-cancel {
    background-color: indianred;
}
.btn-reset {
    background-color: #34495E;
}

.btn-delete {
    background-color: #900C3F;
}

.red-required{
    color: #E60F0F;
}

/* Landing Page */
.wrapper{
    margin-top: 45px;
}
.form-signin{
  max-width: 420px;
  padding: 30px 38px 38px;
  margin: 0 auto;
  border: 1px solid #cccccc;
}
.input-group{
    height: 45px;
    margin-bottom: 15px;
    border-radius: 0px;
    color: #60B99A;
}
.form-control{
    height: 45px;
    color: #60B99A;
}
.input-group:hover span i{
    color: #60B99A;
}
.btn-block{
    border-radius: 0px;
    margin-top: 25px;
    background-color: #60B99A;
    border: none;
}
.btn-block:hover, .btn-reset:hover, .btn-delete:hover, .btn-submit:hover, .btn-cancel:hover{
    background-color: #D3CE3D;
}
.bol{
    position: relative;
    margin-top: -40px;
    color: #60B99A;
}

/* Register */
.userTypeLabel {
    padding-right: 10px;
}


/* Contact Page */
.contact-main{
    margin-top: 40px;
}