/* custom style sheet */
body{
    background-image: url("../Assets/sprinkles.png");
    background-repeat: repeat;
    
}
.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}
.white-bg{
    background-color: white;
    padding: 2em;
}

/* Landing Page */
.wrapper{
    margin-top: 45px;
}
.form-signin{
  max-width: 420px;
  padding: 30px 38px 38px;
  margin: 0 auto;
  border: 1px solid #cccccc;
}
.input-group{
    height: 45px;
    margin-bottom: 15px;
    border-radius: 0px;
    color: #60B99A;
}
.form-control{
    height: 45px;
    color: #60B99A;
}
.input-group:hover span i{
    color: #60B99A;
}
.btn-block{
    border-radius: 0px;
    margin-top: 25px;
    background-color: #60B99A;
    border: none;
}
.btn-block:hover{
    background-color: #D3CE3D;
}
.bol{
    position: relative;
    margin-top: -40px;
    color: #60B99A;
}
/*.text-vertical-center {
    margin-top: 50px;
    text-align: center;
    vertical-align: middle;
}*/

